* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(flowers_high_resolution-t2.jpg);
    text-align: center;
    color: yellow;
}

#parul {
    width: 30%;
    height: 70%;
    border: 15px solid rgb(0, 136, 255);
}

#line {
    color: yellow;
    font-size: larger;
}