* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(image7.png);
    text-align: center;
    color: yellow;
}

#parul {
    width: 30%;
    height: 70%;
    border: 15px solid rgb(0, 136, 255);
    border-radius: 50%;
}

#line {
    color: black;
    font-size: larger;
}